*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    color: white;
    display: flex;
    background-color: #F0F9FF;
    justify-content: center;
    align-items: center;
}


.container {
    width: 350px;
    padding: 30px;
    border: 3px solid; 
    border-image: linear-gradient(90deg, #2563EB, #22D3EE) 1;
    background-color: white;
}



.container .log{
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 90px;
    color: #1E293B;
    
}

.em{
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}


.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.container form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}


.container form input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none; 
    border: solid 2px;
    border-color: #2563EB; 
}


.icon{
    position: relative;
    width: 100%;
}


.container .TP{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.TP img{
    width: 20px;
    height: 20px;
}
.container .forgot{
    text-decoration: none;
    font-size: 16px;
    margin-left: 150px;
    color: black;
    
}

.container .forgot:hover{
    color: blue;
    opacity: 1;
}

.container form button {
    width: 100%;
    height: 45px;
    font-size: 15px;
    color: white;
    background: linear-gradient(90deg, #2563EB, #22D3EE);
    border: none;
    margin-top: 60px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.container form button:hover {
    background: linear-gradient(90deg, #22D3EE, #2563EB); 
}

.container .sign{
    margin-top: 20px;
    color: black;
}

.container .a{
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 14px;
}
